<?xml version=’1.0’ encoding=’UTF-8’ ?><widget xmlns = ‘http://www.w3.org/ns/widgets’xmlns:gap = ‘http://phonegap.com/ns/1.0’ id = ‘com.phonegap.serenityapp’ versionCode=’1’version = ‘0.0.1’><!-- versionCode is optional and Android only --><name>Serenity App</name><description>The Serenity App is a sensory immersion app to help provide a calming environment wherever a person with Autism/AD/HD or Anxiety Is. </description> </widget>